Dictionary:     mutable

In [3]:
d={'name':"dipu",'email':'ss@gmail.com','number':33455,True:22344}    # inside key all type of data type are insert also True ,String
d['name']     # like indexing in Dictionary indexing is not working so class key value
d[1]        # True values is 1 so it's vlaues is 22344

22344

In [4]:
d2={'name':'sudh','mail':'ss@gmail','name':'dipesh'}
d2['name']          # two key is same so overrading is there and second name is output

'dipesh'

In [7]:
d3={'company':'pwskills','course':['web D','data science','java with dsa']}
d3['course'][2][:4]

'java'

In [9]:
# vlaues are put list,tuple,and dict also
#adding any new key and values pair like this 
d3['name']=['dipesh']

{'company': 'pwskills',
 'course': ['web D', 'data science', 'java with dsa'],
 'name': ['dipesh']}

In [13]:
d3.keys()
d3.values()
list(d3.items())        #  some function

[('company', 'pwskills'),
 ('course', ['web D', 'data science', 'java with dsa']),
 ('name', ['dipesh'])]

In [14]:
d3.pop('name')      #delete a key

['dipesh']

Conditional:

In [4]:
n=int(input("enter your marks:"))
if n >= 80:
    print("you will be a part of A0 batch")
elif  n<80 and n>=60:
    print("you will be a part of A1 batch")
elif n<60 and n>=40:
    print("you will be a part of B0 batch")
else:
    print("you will be a part of last batch")

enter your marks: 10

you will be a part of last batch

In [6]:
price = int(input("enter price:"))
if price > 1000:
    print("i will not purchase")
    if price>5000:
        print("this is too much")
    elif price<2000:
        print("it's ok")
elif price <1000:
    print("i will purchase")
else:
    print("check your price once again")

enter price: 1200

i will not purchase
it's ok

Loops:

In [9]:
l=[1,2,3,4,5,6,7,8,9]
l1=[]
for i in l:
    #print(i+1)
    l1.append(i+1)      # using for loop append elements
l1

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
l=['sudh','kumar','pwskill','course']
l1=[]
for i in l:
    l1.append(i.upper())
l1

['SUDH', 'KUMAR', 'PWSKILL', 'COURSE']

In [13]:
l=[1,2,3,4,5,"sudh","kumar",34.345,"abc",True]
l_str=[]
l_int=[]
for i in l:
    if type(i)==int:
        l_int.append(i)
    elif type(i)==str:
        l_str.append(i)
    else:
        l_int.append(i)

In [14]:
l_int

[1, 2, 3, 4, 5, 34.345, True]

In [15]:
l_str

['sudh', 'kumar', 'abc']

Using Else Conditional With For loop:

In [1]:
l2=['sudh','kumar','pwskill','course']
for i in l2:
    print(i)
else:
    print("do something")           # if for loop is able to complete itself then only else will execute

sudh
kumar
pwskill
course
do something

In [3]:
for i in l2:
    if i=="kumar":
        break             #using break statement
    print(i)
else:
    print("execute this if for loop is able to complte itself")

sudh

In [5]:
for i in l2:
    if i=="kumar":
        continue             #using continue statement
    print(i)
else:
    print("execute this if for loop is able to complte itself !")

sudh
pwskill
course
execute this if for loop is able to complte itself !

In [6]:
l2=['sudh','kumar','pwskill','course']
for i in range(len(l2)-1,-1,-1):
    print(l2[i])               # reverse list of string

course
pwskill
kumar
sudh

In [7]:
l3=[1,2,3,4,5,6,7,8,9]
for i in range(0,len(l3),2):
    print(l3[i])          # even index number using range function and for loop

1
3
5
7
9

In [9]:
sum=0
for i in l3:
    sum=sum+i
sum

45