While loop:

In [3]:
i=1
while i<=5:
    print(i)
    i=i+1

1
2
3
4
5

In [3]:
#sum up the number till some point 
num=int(input("how many number:")) 
sum=0
i=1
while i<=num:
    #a=int(input("enter your number:"))    with user input 
    sum=sum+i                              # without user input 
    i=i+1 
print(sum)

how many number: 5

15

In [7]:
# Factorial number   5!=1*2*3*4*5
n=int(input("enter your number:"))
i=1
fact=1
while i<=n:
    fact=fact*i
    i=i+1
print(fact)

enter your number: 10

3628800

In [17]:
# fibonacci number
n=int(input("how many number:"))
i=1
l1=[]
a,b=0,1
while i<=n:
	l1.append(a)
	c=a+b
	a=b
	b=c
	i=i+1
	#l1.append(a)
l1

how many number: 5

[0, 1, 1, 2, 3]

In [18]:
s="dipu"
rev=""
length=len(s)
while length>0:
    rev=rev+s[length-1]
    length=length-1
print(rev)

upid

In [20]:
n=5
i=1
while i<n:
    print(i)
    i=i+1                  # also use beark and continue 
else:
    print("this will be executed once your while will complete it succesfully!")

1
2
3
4
this will be executed once your while will complete it succesfully!

Comprehension:

In [21]:
l=[1,2,3,4,45,5]
[i**2 for i in l]

[1, 4, 9, 16, 2025, 25]

In [26]:
[i for i in l if i%2==0]

[2, 4]

In [27]:
l1=["sudh","pwskill","kumar","data science master"]
[i.upper() for i in l1]

['SUDH', 'PWSKILL', 'KUMAR', 'DATA SCIENCE MASTER']

In [28]:
list(i**2 for i in l)

[1, 4, 9, 16, 2025, 25]

In [33]:
d={'key1': 1,'key2': 2,'key3': 3,'key4': 4}
{k:v**2 for k,v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [39]:
{k:v for k,v in d.items() if v>1}

{'key2': 2, 'key3': 3, 'key4': 4}

Functions:

In [41]:
def test(): # def functionname :
    print("this is my first function")     #statement
test()         # function call

this is my first function

In [47]:
def test2():
    return "this is my very first function"
test2()+" dipesh"        # continuation

'this is my very first function dipesh'

In [3]:
def test3():
    return "sudh",23,234.45,[1,2,3]
a,b,c,d=test3()
a

'sudh'

In [4]:
def test4():
    a=2+3/4
    return a
test4()

2.75

In [5]:
def test5(a,b,c):
    d=a+b/c
    return d
test5(2,3,4)

2.75

In [4]:
def test6(l):
    '''this is my function to extract number data from list'''
    
    l0=[]
    for i in l:
        if type(i)==list:
            for j in i:
                l0.append(j)
        else:
            if type(i)== int or type(i)==float:
                l0.append(i)
    return l0

In [5]:
l=[1,2,3,4,"sudh","kumar",[1,2,3,4,5,6]]
test6(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [8]:
def test9(*args):
    return args
test9(1,2,3,"sudh","kumar",[1,2,3,4])

(1, 2, 3, 'sudh', 'kumar', [1, 2, 3, 4])

In [9]:
def test10(*args,a):
    return args , a
test10(1,2,3,4,a=5)

((1, 2, 3, 4), 5)

In [12]:
def test11(**args):
    return args
type(test11())
test11(name="dipesh",b=[1,2,3,4,5],c=23.45)

{'name': 'dipesh', 'b': [1, 2, 3, 4, 5], 'c': 23.45}